<div id="main-content">
    <div class="page-header mgTop20">
    <span class="welcome"><%= texts.home.welcome %> <br/>
      <span class="text-shadow font47px">
        <%= texts.home.shaparackCattery %> <br/>
          <%= texts.home.catBreeds %> <br/>
      </span>
      <span><%= texts.info.topic[2] %></span>
    </span>
    </div>
</div>