<!DOCTYPE html>
<html>

<head>

  <title>${pageTitle}</title>
        <meta property="og:url"           content="http://www.shaparack.com/" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="${pageTitle}" />
        <meta property="og:description"   content='"Shaparack" Cattery' />
        <meta property="og:image"         content="http://www.shaparack.com/resources/img/shaparack_facebook_1200_630.jpg" />


  <meta name="google-site-verification" content="_Isq3SZQVacO0EE1QQinZsLMgTrQpub9r1CFCMgk7jA" />
  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="shortcut icon" href="/favicon.png" type="image/png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/js/lib/jquery-1.11.3.min.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="/slick/slick.min.js"></script>

  <script type="text/javascript" src="/js/default.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/lib/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="0">

<header>

  <!-- topContactInformation -->
  <jsp:include page="../modules/topContactInformation.jsp"/>

  <div style="height: 70px; width: 100%;" class="hidden-md hidden-lg"></div>
  <nav class="navbar navbar-default affix-top" data-spy="affix" data-offset-top="155" style="width: 100%;background-color: rgb(234,234,234);">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed pull-left" style="margin-left: 15px;" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav navbar-nav center-block hidden-md hidden-lg" style="float:none; display:inline-block;margin-left: 10px;margin-right: 10px;">
          <img style="width: 40px" src='/img/footer/logo_shaparack_130_115.png'/>
        </div>
        <div class="nav navbar-nav right-block hidden-md hidden-lg" style="float:right; display:inline-block;margin-left: 10px;margin-right: 10px;">
          <a href="" class="img-language" style="padding-top: 5px;" onclick="document.cookie='LANGUAGE=en'"><img class="img-language" src="/img/icon_usa1.png"></a>
          <a href="" class="img-language" style="padding-top: 5px;" onclick="document.cookie='LANGUAGE=ua'"><img class="img-language" src="/img/icon_ukraine1.png"></a>
        </div>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav center-block" style="float:none; display: inline-block;">
          <li>
            <a href='<c:url value="/"/>'>
              <spring:message code="menu.home"/>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><spring:message code="menu.persianCats"/> <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="Persian cats">
              <li><a href='/browse?profile=persianMale"'><spring:message code="menu.catsDropdown.males" /></a></li>
              <li><a href='/browse?profile=persianFemale'><spring:message code="menu.catsDropdown.females" /></a></li>
              <li><a href='/browse?profile=persianNewBorn'><spring:message code="menu.catsDropdown.newBorn" /></a></li>
              <li><a href='/browse?profile=persianForSale'><spring:message code="menu.catsDropdown.forSale" /></a></li>
              <li><a href='/browse?profile=persianMyStars'><spring:message code="menu.catsDropdown.myStars" /></a></li>
              <li><a href='/catShows'><spring:message code="menu.catsDropdown.shows" /></a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><spring:message code="menu.exoticCats" /> <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="Persian cats">
              <li><a href='/browse?profile=exoticMale'><spring:message code="menu.catsDropdown.males" /></a></li>
              <li><a href='/browse?profile=exoticFemale'><spring:message code="menu.catsDropdown.females" /></a></li>
              <li><a href='/browse?profile=exoticNewBorn'><spring:message code="menu.catsDropdown.newBorn" /></a></li>
              <li><a href='/browse?profile=exoticForSale'><spring:message code="menu.catsDropdown.forSale" /></a></li>
              <li><a href='/browse?profile=exoticMyStars'><spring:message code="menu.catsDropdown.myStars" /></a></li>
              <li><a href='/catShows'><spring:message code="menu.catsDropdown.shows" /></a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><spring:message code="menu.scottishCats" /> <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="Persian cats">
              <li><a href='/browse?profile=scottishMale'><spring:message code="menu.catsDropdown.males" /></a></li>
              <li><a href='/browse?profile=scottishFemale'><spring:message code="menu.catsDropdown.females" /></a></li>
              <li><a href='/browse?profile=scottishNewBorn'><spring:message code="menu.catsDropdown.newBorn" /></a></li>
              <li><a href='/browse?profile=scottishForSale'><spring:message code="menu.catsDropdown.forSale" /></a></li>
              <li><a href='/browse?profile=scottishMyStars'><spring:message code="menu.catsDropdown.myStars" /></a></li>
              <li><a href='/catShows'><spring:message code="menu.catsDropdown.shows" /></a></li>
            </ul>
          </li>
          <li>
            <a href='/contacts'>
              <spring:message code="menu.contacts"/>
            </a>
          </li>
          <li>
            <a href='/articles'>
              <spring:message code="menu.articles"/>
            </a>
          </li>
          <li class="hidden-xs hidden-sm">
            <a class="img-language" style="padding-top: 5px;" href="" onclick="document.cookie='LANGUAGE=en'"><img src="/img/icon_usa1.png"></a>
          </li>
          <li class="hidden-xs hidden-sm">
            <a class="img-language" style="padding-top: 5px;" href="" onclick="document.cookie='LANGUAGE=ua'"><img src="/img/icon_ukraine1.png"></a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>


  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>


<div id="main-content">
  <div class="page-header mgTop20">
            <span class="welcome"><spring:message code="home.welcome"/><br/>
                <span class="text-shadow font47px">
                    <spring:message code="home.shaparackCattery"/><br/>
                    <spring:message code="home.catBreeds"/><br/>
                </span>
				<span><spring:message code="info.topic.2" /></span>
  </div>
</div>
<div class="container-gallery">
  <div class="gallery center-block hidden-xs hidden-sm" style="margin-bottom: 0px;">

  </div>
  <div class="gallery-mob center-block hidden-md hidden-lg">

  </div>
</div>



<script>
  jQuery(document).ready(function(){
    $('.gallery').slick({
      centerMode: true,
      arrows: false,
      slidesToShow: 1,
      autoplay: true,
      autoplaySpeed:2500,
      speed: 500,
      variableWidth: true,
      accessibility: true,
      dots: true,
      focusOnSelect: true,
      centerPadding: '0px'
    });
  });

  jQuery(document).ready(function(){
    $('.gallery-mob').slick({
      arrows: false,
      slidesToShow: 1,
      autoplay: true,
      autoplaySpeed:2500,
      speed: 500,
      accessibility: true,
      dots: false
    });
  });
</script>

<div class="clearfix"></div>

<footer class="page-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-xs-4 text-center">
        <img class="mgTop20" src='/img/footer/logo_shaparack_130_115.png'/>
      </div>
      <div class="col-md-3 col-md-offset-1 col-xs-6 col-xs-offset-2" style="height: 135px; padding-top: 25px;">
        <i class="material-icons materialIconsTop">phone</i> +38 093 118 93 93<br>
        <i class="material-icons materialIconsTop">email</i> <a href="mailto:shaparackc@yahoo.com">shaparackc@yahoo.com</a><br>
        <i class="material-icons materialIconsTop">location_on</i><spring:message code="menu.location"/><br>
      </div>
      <div class="col-md-2 col-xs-4">
        <h5 class="white-text">Persian cats</h5>
        <ul class="" aria-labelledby="Persian cats">
          <li><a href='/browse?profile=persianMale"'><spring:message code="menu.catsDropdown.males" /></a></li>
          <li><a href='/browse?profile=persianFemale'><spring:message code="menu.catsDropdown.females" /></a></li>
          <li><a href='/browse?profile=persianNewBorn'><spring:message code="menu.catsDropdown.newBorn" /></a></li>
          <li><a href='/browse?profile=persianForSale'><spring:message code="menu.catsDropdown.forSale" /></a></li>
          <li><a href='/browse?profile=persianMyStars'><spring:message code="menu.catsDropdown.myStars" /></a></li>
          <li><a href='/catShows'><spring:message code="menu.catsDropdown.shows" /></a></li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-4">
        <h5 class="white-text">Exotic cats</h5>
        <ul class="" aria-labelledby="Exotic cats">
          <li><a href='/browse?profile=exoticMale'><spring:message code="menu.catsDropdown.males" /></a></li>
          <li><a href='/browse?profile=exoticFemale'><spring:message code="menu.catsDropdown.females" /></a></li>
          <li><a href='/browse?profile=exoticNewBorn'><spring:message code="menu.catsDropdown.newBorn" /></a></li>
          <li><a href='/browse?profile=exoticForSale'><spring:message code="menu.catsDropdown.forSale" /></a></li>
          <li><a href='/browse?profile=exoticMyStars'><spring:message code="menu.catsDropdown.myStars" /></a></li>
          <li><a href='/catShows'><spring:message code="menu.catsDropdown.shows" /></a></li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-4">
        <h5 class="white-text">Scottish cats</h5>
        <ul class="" aria-labelledby="Scottish cats">
          <li><a href='/browse?profile=scottishMale'><spring:message code="menu.catsDropdown.males" /></a></li>
          <li><a href='/browse?profile=scottishFemale'><spring:message code="menu.catsDropdown.females" /></a></li>
          <li><a href='/browse?profile=scottishNewBorn'><spring:message code="menu.catsDropdown.newBorn" /></a></li>
          <li><a href='/browse?profile=scottishForSale'><spring:message code="menu.catsDropdown.forSale" /></a></li>
          <li><a href='/browse?profile=scottishMyStars'><spring:message code="menu.catsDropdown.myStars" /></a></li>
          <li><a href='/catShows'><spring:message code="menu.catsDropdown.shows" /></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
      <div class="row mgTop15">
        <div class="col-xs-12 col-md-6 copyrightRight-md">
          Copyright © 2015 "Shaparack" cattery
        </div>
        <div class="col-xs-12 col-md-6 copyrightLeft-md">
          <spring:message code="footer.designedBy"/>
          <a href="http://www.studio-newweb.com" target="_blank">studio NEWWEB</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="pulse1 hidden-xs hidden-sm" style="display: none;"></div>

<script>
  $(window).scroll(function() {
    if ($(window).scrollTop() > 400) {
      $('.pulse1').show();
    } else {
      $('.pulse1').hide();
    }
  });
</script>
<div class="pulse2 hidden-xs hidden-sm" style="display: none;"></div>
<script>
  $(window).scroll(function() {
    if ($(window).scrollTop() > 400) {
      $('.pulse2').show();
    } else {
      $('.pulse2').hide();
    }
  });
</script>
<div class="go-to-contacts hidden-xs hidden-sm" style="display: none;">
  <a href='/contacts' style="font-size: 30px;color: orange;font-weight: 600;"><i class="material-icons go-to-contactsIcon" style="font-size: 60px;color: orange;">email</i></a>
</div>
<c:if test='${pageType != "contacts"}'>
  <script>
    $(window).scroll(function() {
      if ($(window).scrollTop() > 400) {
        $('.go-to-contacts').show();
      } else {
        $('.go-to-contacts').hide();
      }
    });
  </script>
</c:if>
<div class="go-to-top hidden-xs hidden-sm" style="display: none;"></div>
<script>
  $("div.go-to-top").click(function() {
    $("html, body").animate({ scrollTop: 0 }, "slow");
    return false;
  });
  $(window).scroll(function() {
    if ($(window).scrollTop() > 400) {
      $('div.go-to-top').show();
    } else {
      $('div.go-to-top').hide();
    }
  });
</script>

</body>
</html>

