<!-- topContactInformation -->
<div class="row contactInformationTop visible-md-block visible-lg-block" >
    <div class="col-xs-12 col-sm-12 col-md-4 text-left" style="vertical-align: bottom;">
        <i class="material-icons materialIconsTop">phone</i> +38 093 118 93 93<br>
        <i class="material-icons materialIconsTop">email</i> shaparackc@yahoo.com<br>
        <i class="material-icons materialIconsTop">location_on</i><%= texts.menu.location %><br>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 text-center">
        <img src='/img/footer/logo_shaparack_130_115.png'/>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 text-right">
        <p><%= texts.menu.followShaparack %></p>
        <a href="http://www.youtube.com/channel/UCFMpzXhC5qjhh2f0n33Ic2w" target="_blank"><img style="width: 20px;" src="/img/footer/icon_youtube_34x34.png"></a>
        <a href="http://www.facebook.com/maria.koretskaya" target="_blank"><img style="width: 20px;" src="/img/footer/icon_facebook_34x34.png"></a>
        <div class="fb-like"
             data-href="http://www.shaparack.com/"
             data-layout="button_count"
             data-action="like"
             data-show-faces="false"
             data-share="true"
             data-width="">
        </div>
    </div>
</div>